/*
Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.
        on line 468 of C:\STUDY\UDEMY\WEB_DEVELOPER_2021\UBER\src\sass\style.sass

463:     &_divider
464:         width: 299px
465:         height: 4px
466:         background-color: #1fbad6
467:         margin: 0 auto
468: 	&_wrapper
469: 		display: flex 
470: 		justify-content: space-between
471: 		align-items: flex-start
472: 		padding-top: 32px
473: 	&_wrapper > div 

Backtrace:
C:\STUDY\UDEMY\WEB_DEVELOPER_2021\UBER\src\sass\style.sass:468
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:494:in `block in tabulate'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:452:in `each'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:452:in `each_with_index'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:452:in `tabulate'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:417:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:22:in `load'
C:/Program Files (x86)/Koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 468 of C:\STUDY\UDEMY\WEB_DEVELOPER_2021\UBER\src\sass\style.sass\A \A 463:     &_divider\A 464:         width: 299px\A 465:         height: 4px\A 466:         background-color: #1fbad6\A 467:         margin: 0 auto\A 468: 	&_wrapper\A 469: 		display: flex \A 470: 		justify-content: space-between\A 471: 		align-items: flex-start\A 472: 		padding-top: 32px\A 473: 	&_wrapper > div "; }
